/* guess the number game */

body {
    font-family: Arial, sans-serif;
    background: url('backgrounds.jpg') no-repeat center center fixed;  
    background-size: cover;  
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency for better readability */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

#previousGuesses {
    margin-top: 10px;
    color: #555;
}
